{% load static tailwind_tags %}

<aside  class="sidebar sidebar-offcanvas" id="sidebar">
  {% if user.is_superuser == True and  user.is_staff == True and user.is_active == True%}
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url "home"%}">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Inicio</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#user" aria-expanded="false" aria-controls="user">
          <i class="mdi mdi mdi-account-multiple menu-icon"></i>
          <span class="menu-title">Gestión de Usuarios</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="user">
          <ul class="nav flex-column sub-menu">
            
            <li class="nav-item"> <a class="nav-link" href="{% url "new_user" %}">Crear Usuario</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "all_usuarios" %}">Lista de Usuarios</a></li>

          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#empresa" aria-expanded="false" aria-controls="empresa">
          <i class="mdi mdi-domain menu-icon"></i>
          <span class="menu-title">Gestión de Empresas</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="empresa">
          <ul class="nav flex-column sub-menu">
            
            <li class="nav-item"> <a class="nav-link" href="{%url "new_empresa" %}">Crear Empresa</a></li>
            <li class="nav-item"> <a class="nav-link" href="{%url "all_empresas" %}">Lista de Empresas</a></li>

          </ul>
        </div>
      </li>
    </ul>





  {% else %}
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url "home"%}">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Inicio</span>
            </a>
          </li>
        {% if user.usuario.rol.name_rol == 'Administrador' %}
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#user" aria-expanded="false" aria-controls="user">
              <i class="mdi mdi mdi-account-multiple menu-icon"></i>
              <span class="menu-title">Gestión de Usuarios</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user">
              <ul class="nav flex-column sub-menu">
                
                <li class="nav-item"> 
                  <a class="nav-link" href="{%url "lista_usuarios"%}">
                    Lista de Usuarios
                  </a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="{%url "crear_user"%}">Crear Usuario</a></li>
                
                
                
                <!--<li class="nav-item"> <a class="nav-link" href="{%url "crear_profile"%}">Crear Perfil</a></li>
                <li class="nav-item"> <a class="nav-link" href="">Perfiles</a></li>-->
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#profile" aria-expanded="false" aria-controls="profile">
              <i class="mdi mdi-settings menu-icon"></i>
              <span class="menu-title">Configuración</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="profile">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{%url "update_config_dashboard"%}">Colores Dashboards</a></li>
                <li class="nav-item"> <a class="nav-link" href="{%url "modificar_empresa"%}">Modificar Empresa</a></li>
                <!--<li class="nav-item"> <a class="nav-link" href="{%url "crear_profile"%}">Crear Perfil</a></li>
                <li class="nav-item"> <a class="nav-link" href="">Perfiles</a></li>-->
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#comercial" aria-expanded="false" aria-controls="comercial">
              <i class="mdi mdi-percent menu-icon"></i>
              <span class="menu-title">Comercial</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="comercial">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url "informe_ventas" user.usuario.username %}">Informe de Ventas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "ventas_" %}">Resumen de Ventas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "vencore" user.usuario.username %}">Seguimiento de Ventas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "com-cliente" user.usuario.username%}">Ventas Clientes</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "com-producto" user.usuario.username%}">Ventas Productos</a></li>
                {% if user.usuario.empresa.rubro_empresa_id == 2 or user.usuario.empresa.rubro_empresa_id == 3 %}
                  <li class="nav-item"> <a class="nav-link" href="{% url "com-cultivo" user.usuario.username%}">Ventas Cultivos</a></li>
                {% endif %} 
              </ul>
            </div>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#finanzas" aria-expanded="false" aria-controls="finanzas">
              <i class="mdi mdi-chart-arc menu-icon"></i>
              <span class="menu-title">Finanzas</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="finanzas">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url "create_indicador" user.usuario.username%}">Crear Indicador</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "indicador_all" user.usuario.username%}">Todos los Indicadores</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "estado_r" user.usuario.username%}">Estado de Resultados</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "estado_gp" user.usuario.username%}">Estado de Ganancias</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "balence_general" %}">Balance General</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "balence_ap" %}">Balance AP</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "analisis_activo" %}">Análisis del Activo</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "analisis_pasivo" %}">Análisis del Pasivo</a></li>
              </ul>
            </div>
          </li>
          
          {% if user.usuario.empresa.rubro_empresa_id == 2 or user.usuario.empresa.rubro_empresa_id == 3 %}
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#produccion" aria-expanded="false" aria-controls="produccion">
                <i class="mdi mdi-leaf menu-icon"></i>
                <span class="menu-title">Producción Agrícola</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="produccion">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url "plan_siembra"  user.usuario.username %}">Ejecución de Campaña</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url "costos_campaña" user.usuario.username %}">Detalle de Costos</a></li>
                  
                
                </ul>
              </div>
            </li>
          {% endif %}
          {% elif user.usuario.rol.name_rol == 'Analista' %}  
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#finanzas" aria-expanded="false" aria-controls="finanzas">
                <i class="mdi mdi-chart-arc menu-icon"></i>
                <span class="menu-title">Finanzas</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="finanzas">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url "create_indicador" user.usuario.username%}">Crear Indicador</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url "indicador_all" user.usuario.username%}">Todos los Indicadores</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url "estado_r" user.usuario.username%}">Estado de Resultados</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url "estado_gp" user.usuario.username%}">Estado de Ganancias</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url "balence_general" %}">Balance General</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url "balence_ap" %}">Balance AP</a></li>
                </ul>
              </div>
            </li>
          {% elif user.usuario.rol.name_rol == 'Asistente' %} 

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#comercial" aria-expanded="false" aria-controls="comercial">
                <i class="mdi mdi-percent menu-icon"></i>
                <span class="menu-title">Comercial</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="comercial">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url "informe_ventas" user.usuario.username %}">Informe de Ventas</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url "ventas_" %}">Resumen de Ventas</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url "vencore" user.usuario.username %}">Seguimiento de Ventas</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url "com-cliente" user.usuario.username%}">Ventas Clientes</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url "com-producto" user.usuario.username%}">Ventas Productos</a></li>
                  {% if user.usuario.empresa.rubro_empresa_id == 2 or user.usuario.empresa.rubro_empresa_id == 3 %}
                    <li class="nav-item"> <a class="nav-link" href="{% url "com-cultivo" user.usuario.username%}">Ventas Cultivos</a></li>
                  {% endif %} 
                </ul>
              </div>
          </li>
          {% else %}
          {% endif %}



          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#logistica" aria-expanded="false" aria-controls="logistica">
              <i class="mdi mdi-glassdoor menu-icon"></i>
              <span class="menu-title">Gestión Logística</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="logistica">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url "inventario_1"  user.usuario.username %}">Stocks</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "alm"  user.usuario.username %}">Almacén</a></li>
                
                <li class="nav-item"> <a class="nav-link" href="{% url "gestion_stock" %}">Gestión Stock</a></li>
              </ul>
            </div>
          </li>

        
          
        </ul>
    {% endif %}
</aside >