{% load static %}

    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url "home"%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Inicio</span>
            </a>
          </li>
    
        {% if user.usuario.rol.name_rol == 'Administrador' %}  
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Comercial</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url "informe_ventas" user.usuario.username %}">Informe de Ventas</a></li>
                <!--<li class="nav-item"> <a class="nav-link" href="{% url "ventas_exportacion" user.usuario.username %}">Ventas Exportación</a></li>-->
                <!--<li class="nav-item"> <a class="nav-link" href="{% url "ventas_1" user.usuario.username %}">Ventas por CPT</a></li>-->
                <li class="nav-item"> <a class="nav-link" href="{% url "vencore" user.usuario.username %}">Seguimiento de Ventas</a></li>
                <!--<li class="nav-item"> <a class="nav-link" href="{% url "vencomparativo" user.usuario.username %}">Ventas Comparativo</a></li>-->
                <li class="nav-item"> <a class="nav-link" href="{% url "com-cliente" user.usuario.username%}">Ventas Clientes</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "com-producto" user.usuario.username%}">Ventas Productos</a></li>
                {% if user.usuario.empresa.rubro_empresa_id == 2 or user.usuario.empresa.rubro_empresa_id == 3 %}
                  <li class="nav-item"><a class="nav-link" href="{% url "com-cultivo" user.usuario.username%}">Ventas Cultivo</a></li>
                  <!--<li class="nav-item"> <a class="nav-link" href="{% url "com-comparativo" user.usuario.username%}">Ventas Anuales</a></li>-->
                {% endif %} 

              </ul>
            </div>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Finanzas</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url "indicador_all" user.usuario.username%}">Todos los Indicadores</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "create_indicador" user.usuario.username%}">Crear Indicador</a></li>
              <!--  <li class="nav-item"> <a class="nav-link" href="{% url "estado_situacion3" user.usuario.username%}">Estado de Situación</a></li>-->
                <li class="nav-item"> <a class="nav-link" href="{% url "estado_r" user.usuario.username%}">Estado de Resultados</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "estado_gp" user.usuario.username%}">Estado de Ganancias</a></li>
              <!--  <li class="nav-item"> <a class="nav-link" href="{% url "costos_generales" user.usuario.username%}">Revisión de GF</a></li>-->
                
              
              
              </ul>
            </div>
          </li>
          {% if user.usuario.empresa.rubro_empresa_id == 2 or user.usuario.empresa.rubro_empresa_id == 3 %}
                <li class="nav-item">

                  <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                    <i class="icon-grid-2 menu-icon"></i>
                    <span class="menu-title">Producción Agrícola</span>
                    <i class="menu-arrow"></i>
                  </a>
                  <div class="collapse" id="tables">
                    <ul class="nav flex-column sub-menu">
                      
                        
                        <li class="nav-item"> <a class="nav-link" href="{% url "plan_siembra"  user.usuario.username %}">Ejecución de Campaña</a></li>
                        <li class="nav-item"> <a class="nav-link" href="{% url "costos_campaña" user.usuario.username %}">Detalle de Costos</a></li>
                        
                    </ul>
                    
                  </div>
                </li>
          {% endif %}
                
              
        {% elif user.usuario.rol.name_rol == 'Analista' %}  
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
            <i class="icon-bar-graph menu-icon"></i>
            <span class="menu-title">Finanzas</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="charts">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="{% url "indicador_all" user.usuario.username%}">Todos los Indicadores</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url "create_indicador" user.usuario.username%}">Crear Indicador</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url "estado_situacion3" user.usuario.username%}">Estado de Situación</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url "estado_r" user.usuario.username%}">Estado de Resultados</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url "estado_gp" user.usuario.username%}">Estado de Ganancias y Pérdidas</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url "costos_generales" user.usuario.username%}">Revisión de GF</a></li>
              
            
            
            </ul>
          </div>
        </li>
        {% elif user.usuario.rol.name_rol == 'Asistente' %}  
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">Comercial</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="{% url "informe_ventas" user.usuario.username %}">Informe de Ventas</a></li>
              
              
              <li class="nav-item"> <a class="nav-link" href="{% url "vencore" user.usuario.username %}">Seguimiento de Ventas</a></li>
              <!--<li class="nav-item"> <a class="nav-link" href="{% url "vencomparativo" user.usuario.username %}">Ventas Comparativo</a></li>-->
              <li class="nav-item"> <a class="nav-link" href="{% url "com-cliente" user.usuario.username%}">Ventas Clientes</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url "com-producto" user.usuario.username%}">Ventas Productos</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url "com-cultivo" user.usuario.username%}">Ventas Cultivo</a></li>
              
              <!--<li class="nav-item"> <a class="nav-link" href="{% url "com-comparativo" user.usuario.username%}">Ventas Anuales</a></li>-->

            </ul>
          </div>
        </li>

        {% else %}
        {% endif %}
        <li class="nav-item">

          <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
            <i class="icon-grid-2 menu-icon"></i>
            <span class="menu-title">Gestión Logística</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="icons">
            <ul class="nav flex-column sub-menu">
              
                
                <li class="nav-item"> <a class="nav-link" href="{% url "inventario_1"  user.usuario.username %}">Stocks</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "alm"  user.usuario.username %}">Almacén</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url "gestion_stock" %}">Gestión Stock</a></li>
                
            </ul>
            
          </div>
        </li>
        
          <!--
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
              <i class="icon-contract menu-icon"></i>
              <span class="menu-title">Icons</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
              <i class="icon-ban menu-icon"></i>
              <span class="menu-title">Error pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        -->
        </ul>
      </nav>
