{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Nuevo Perfil</h1>
<form class="form-sample">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Nombres</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Apellidos</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Telefono</label>
        <div class="col-sm-9">
          <div class="input-group">
            <div class="input-group-prepend bg-transparent">
              <span class="input-group-text bg-transparent border-right-0">
                <i class="mdi mdi-phone text-primary"></i>
              </span>
            </div>
            <input type="text" class="form-control form-control-lg border-left-0" placeholder="Telefono">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Correo Electronico</label>
        <div class="col-sm-9">
          <div class="input-group">
            <div class="input-group-prepend bg-transparent">
              <span class="input-group-text bg-transparent border-right-0">
                <i class="mdi mdi-email-outline text-primary"></i>
              </span>
            </div>
            <input type="email" class="form-control form-control-lg border-left-0" placeholder="Correo">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <div class="input-group">
            <div class="input-group-prepend bg-transparent">
              <span class="input-group-text bg-transparent border-right-0">
                <i class="mdi mdi-account-outline text-primary"></i>
              </span>
            </div>
            <input type="text" class="form-control form-control-lg border-left-0" placeholder="Username">
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Contraseña</label>
        <div class="col-sm-9">
          <div class="input-group">
            <div class="input-group-prepend bg-transparent">
              <span class="input-group-text bg-transparent border-right-0">
                <i class="mdi mdi-lock-outline text-primary"></i>
              </span>
            </div>
            <input type="password" class="form-control form-control-lg border-left-0" id="exampleInputPassword" placeholder="Contraseña">                        
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Imagen</label>
        <div class="col-sm-9">
          <div class="form-group">
                  <input type="file" name="img[]" class="file-upload-default">
                  <div class="input-group col-xs-12">
                    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                    <span class="input-group-append">
                      <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                    </span>
                  </div>
          </div>
        </div>
      </div>  
      
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Empresa</label>
        <div class="col-sm-9">
          <select class="form-control">
            {% for opcion_value, opcion_label in empresas %}
              <option value="{{ opcion_value }}">{{ opcion_label }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Rol</label>
        <div class="col-sm-9">
          <select class="form-control">
            {% for opcion_value, opcion_label in roles %}
              <option value="{{ opcion_value }}">{{ opcion_label }}</option>
          {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-primary mr-2">Submit</button>
    <button class="btn btn-light">Cancel</button>
  </div>
</form>

{%endblock%}