
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_login.css'%}">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!--<img class="wave" src="{% static 'img/wave3.png' %}">-->
	<div class="container">
		<div class="img">
			<img src="{% static 'images/bg_dash.svg' %}">
		</div>
		<div class="login-content">

			

			<form method="POST" action="{% url "login" %}">
				{% csrf_token %}

				<img src="{% static 'images/picture.png' %}" >
				<h2 class="title" style="letter-spacing: -.015em;">
					<b class="colorT1" style="color:#01414b;">Bien</b><b class="colorT2" style="color:#fd0;">venido</b>
				</h2>
				{% if error %}
				<p style="color: red;">{{ error }}</p>
				{% endif %}
				
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input" name="username">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input" name="password">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/main_login.js'%}"></script>
</body>
</html>
